@keyframes rotation {
	from {	  transform: rotateX(0deg);}
	to{transform: rotateX(360deg);}
}
@keyframes bounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}


body {
	background-image: url(dev.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	}

#photo_identité {
	width: 200px;
	height: 200px;
	float: right;
}

header h1 {
	font-family: 'Graduate', cursive;
	font-size: 50px;
	text-align: center;
	color: #01B0F0;
}

header h2 {
	font-family: 'Graduate', cursive;
	font-size: 50px;
	text-align: center;
	color: red;
	background: #535353;
	width: 500px;
	margin: auto;
	border-radius: 20px;
}

header p {
	float: right;
	font-size: 30px;
	margin-right: 40px;
}

div {
	border-style: solid;
}

header p {
	color: red;
	font-family: 'Risque', cursive;
}

.liste {
	list-style: none;
	font-size: 25px;
}

button {
	background-color: purple;
	border-radius: 10px;
	height: 45px;
	font-size: 25px;
	font-weight: bold;

		}

	button:hover {
		background-color: green;
	}

.liste a {
	color: #6EDC01;
	text-decoration: none;
}

nav {
	align-self: flex-end;
	margin-top: 150px;
	animation-name: bounce;
	animation-duration: 450ms;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
  	margin-bottom: 5%;
}

button {
	margin-right: 20px;
	color: white;
}

.liste li {
	 float: left;
	 
	}

button:hover {transform:scale(1.2);}

button:focus {
	animation-name: rotation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	
	}
#realisation {
	text-align: center;
	width: 24%;
	font-family: 'Graduate', cursive;
	font-size: 30px;
	color: #01B0F0;
	margin-right: 17%;
	margin-top: 10%;
	background: #535353;
	border-radius: 15px;
}

.realisation ul li{
	margin-right: 13%;
	margin-top: 3%;
	list-style: none;
	font-size: 25px;
}
.realisation a{
	background: black;
	color: white;
	font-family: 'Risque', cursive;
	border-radius:10px;
}
.realisation {
	border-style: none;
}