@keyframes rotation {
	from {	  transform: rotateX(0deg);}
	to{transform: rotateX(360deg);}
}

@keyframes star-wars {
	from {font-size: 0px;}
	to {font-size: 40px;}
	
}

@keyframes livre {
	from {width: 0px;}
	to {width: 1300px;}
}

@keyframes bounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}


body {
	background: url(back_etude.jpg) no-repeat;
}

header {
	background-image: url(etude.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 1300px;
	margin: auto;
	border-radius: 20px;
	animation-name: livre;
	animation-duration: 4s;
}
header h1 {
	padding-top: 180px;
}

* {
	text-align: center;
}

h1 {
	font-family: 'Gochi Hand', cursive;
	font-size: 50px;
	color: #7D0000;
}

.contenue_etude {
	font-family: 'Gochi Hand', cursive;
	color: #7D0000;
	font-size: 25px;
	font-weight: bold;
	background: #B7E3DD;
    padding: 10px;
    border: 5px solid #764f6f;
    position: relative;
    margin: 10% auto;
    width: 50%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
	
}

.contenue_diplomes h2 {
	font-family: 'Gochi Hand', cursive;
	color: #7D0000;
	animation-name: star-wars;
	animation-duration: 6s;
	font-size: 40px;
}

.contenue_etude h2, .certification h2 {
	font-family: 'Gochi Hand', cursive;
	color: #7D0000;
	animation-name: star-wars;
	animation-duration: 6s;
	font-size: 40px;
}

.contenue_diplomes, .certification  {
	font-family: 'Gochi Hand', cursive;
	color: #7D0000;
	font-size: 25px;
	font-weight: bold;
	background: #B7E3DD;
    padding: 10px;
    border: 5px solid #764f6f;
    position: relative;
    margin: 10% auto;
    width: 50%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
}

button {
	background-color: #3B0405;
	border-radius: 10px;
	height: 45px;
	font-size: 25px;
	font-weight: bold;

		}

	button:hover {
		background-color: red;
	}

button {
	margin-right: 20px;
	color: #01B0F0;
}

li {
	 float: left;
	 
}

.liste {
list-style: none;
font-size: 25px;
}

footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	animation-name: bounce;
	animation-duration: 450ms;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
  	padding-bottom: 70px;

}

button:hover {transform:scale(1.2);}

button:focus {
	animation-name: rotation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	
	}

#overlay {
	display: none;
    position: fixed;
    top:0; 
    right:0; 
    bottom:0; 
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#overlay2, #overlay3 {
	display: none;
    position: fixed;
    top:0; 
    right:0; 
    bottom:0; 
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#overlay:target, #overlay2:target, #overlay3:target {
	display:block;
}

#diplomes, #etudes, #certification {
	font-family: 'Gochi Hand', cursive;
	color: brown;
	font-size: 60px;
}

