@keyframes rotation {
	from {	  transform: rotateX(0deg);}
	to{transform: rotateX(360deg);}
}

@keyframes bounce{
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

body {
	background: url(back_exp.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

header {
	background-image: url(banniere_experience.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 500px;
	width: 1200px;
	margin: auto;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
}
header h1 {
	padding-top: 400px;
}

* {
	text-align: center;
}

h1 {
	font-family: 'Gochi Hand', 'cursive', 'Arial';
	font-size: 50px;
	color: #FFF2C9;
}

.contenue_experience p {
	font-family: 'Graduate', 'cursive', 'Arial';
	color: #C6D4C7;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	display: block;
	margin: auto;
	width: 55%;
}



button {
	background-color: purple;
	border-radius: 10px;
	height: 45px;
	font-size: 25px;
	font-weight: bold;
	margin-right: 20px;
	color: green;
		}

	button:hover {
		background-color: red;
	}


li {
	 float: left;
	 
}

.liste {
list-style: none;
font-size: 25px;

}

footer {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	animation-name: bounce;
	animation-duration: 450ms;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
  	padding-bottom: 70px;
}
	

button:hover {transform:scale(1.2);}

button:focus {
	animation-name: rotation;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	
	}
